# -*- coding: utf-8 -*-

# Load defaults
from git_doc_review.sphinx_conf import *

master_doc = u'{{filename}}'
project    = u'{{project}}'
copyright  = u'{{year}}, {{author}}'
version    = '1.0.0'
release    = '1.0.0-drafting'
